<!-- Validation failure messages -->
<% if @lift_total.present? %>
  <% if @lift_total.errors.any? %>
    <% @lift_total.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new lift total
</h1>


<hr>

<!-- Form lift_total start -->
<form action="/create_lift_total" method="post">
<!-- Form lift_total end -->

  <!-- Label and input for profile_id start -->
  <div class="form-group">
    <label for="profile_id">
      Profile
    </label>

    <!-- Input for profile_id start -->
    <%= select_tag(:profile_id, options_from_collection_for_select(Profile.all, :id, :user_id, @lift_total.profile_id), :class => "form-control") %>
    <!-- Input for profile_id end -->
  </div>
  <!-- Label and input for profile_id end -->

  <!-- Label and input for weight start -->
  <div class="form-group">
    <label for="weight">
      Weight
    </label>

    <!-- Input for weight start -->
    <input type="text" id="weight" name="weight" class="form-control" value="<%= @lift_total.weight %>">
    <!-- Input for weight end -->
  </div>
  <!-- Label and input for weight end -->

  <!-- Label and input for date start -->
  <div class="form-group">
    <label for="date">
      Date
    </label>

    <!-- Input for date start -->
    <input type="text" id="date" name="date" class="form-control" value="<%= @lift_total.date %>">
    <!-- Input for date end -->
  </div>
  <!-- Label and input for date end -->

  <button class="btn btn-block btn-outline-secondary">
    Create lift total
  </button>
</form>

<hr>

<a href="/lift_totals">
  Go back
</a>
