<h1>
  Edit subscription #<%= @subscription.id %>
</h1>

<hr>

<form action="/update_subscription/<%= @subscription.id %>" method="post">

  <div class="form-group">
    <label for="feed_id">
      Feed
    </label>

    <%= select_tag(:feed_id, options_from_collection_for_select(Feed.all, :id, :user_id, @subscription.feed_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="profile_id">
      Profile
    </label>

    <%= select_tag(:profile_id, options_from_collection_for_select(Profile.all, :id, :user_id, @subscription.profile_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update subscription
  </button>
</form>

<hr>

<a href="/subscriptions">
  Go back
</a>
