<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Subscriptions

    <a data-toggle="collapse" href="#feed_subscriptions_new_form">
      Add subscription
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @feed.subscriptions.each do |subscription| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/subscriptions/<%= subscription.id %>">
          <%= subscription.created_at %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_subscription_from_feed/<%= subscription.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="feed_subscriptions_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
