<!-- Form subscription start -->
<form action="/create_subscription_from_feed" method="post">
<!-- Form subscription end -->

  <!-- Label and input for feed_id start -->
  <!-- Input for feed_id start -->
  <input type="hidden" name="feed_id" value="<%= @feed.id %>">
  <!-- Input for feed_id end -->

  <!-- Label and input for profile_id start -->
  <div class="form-group">
    <label for="profile_id">
      Profile
    </label>

    <!-- Input for profile_id start -->
    <input type="text" id="profile_id" name="profile_id" class="form-control" value="<%= @subscription.profile_id %>">
    <!-- Input for profile_id end -->
  </div>
  <!-- Label and input for profile_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create subscription
  </button>
</form>
