<form action="/create_subscription_from_feed" method="post">

  <input type="hidden" name="feed_id" value="<%= @feed.id %>">

  <div class="form-group">
    <label for="profile_id">
      Profile
    </label>

    <%= select_tag(:profile_id, options_from_collection_for_select(Profile.all, :id, :user_id, @subscription.profile_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create subscription
  </button>
</form>
