<h1>
  Add a new feed
</h1>


<hr>

<!-- Form feed start -->
<form action="/create_feed" method="post">
<!-- Form feed end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create feed
  </button>
</form>

<hr>

<a href="/feeds">
  Go back
</a>
