<h1>
  Add a new feed
</h1>


<hr>

<form action="/create_feed" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @feed.user_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create feed
  </button>
</form>

<hr>

<a href="/feeds">
  Go back
</a>
