<h1>
  Add a new lift total detail
</h1>


<hr>

<form action="/create_lift_total_detail" method="post">

  <div class="form-group">
    <label for="lift_total_id">
      Lift total
    </label>

    <%= select_tag(:lift_total_id, options_from_collection_for_select(LiftTotal.all, :id, :profile_id, @lift_total_detail.lift_total_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="squat">
      Squat
    </label>

    <input type="text" id="squat" name="squat" class="form-control">
  </div>

  <div class="form-group">
    <label for="bench">
      Bench
    </label>

    <input type="text" id="bench" name="bench" class="form-control">
  </div>

  <div class="form-group">
    <label for="deadlift">
      Deadlift
    </label>

    <input type="text" id="deadlift" name="deadlift" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create lift total detail
  </button>
</form>

<hr>

<a href="/lift_total_details">
  Go back
</a>
