<form action="/create_subscription_from_profile" method="post">

  <div class="form-group">
    <label for="feed_id">
      Feed
    </label>

    <%= select_tag(:feed_id, options_from_collection_for_select(Feed.all, :id, :user_id, @subscription.feed_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="profile_id" value="<%= @profile.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create subscription
  </button>
</form>
