<!-- Form subscription start -->
<form action="/create_subscription_from_profile" method="post">
<!-- Form subscription end -->

  <!-- Label and input for feed_id start -->
  <div class="form-group">
    <label for="feed_id">
      Feed
    </label>

    <!-- Input for feed_id start -->
    <input type="text" id="feed_id" name="feed_id" class="form-control" value="<%= @subscription.feed_id %>">
    <!-- Input for feed_id end -->
  </div>
  <!-- Label and input for feed_id end -->

  <!-- Label and input for profile_id start -->
  <!-- Input for profile_id start -->
  <input type="hidden" name="profile_id" value="<%= @profile.id %>">
  <!-- Input for profile_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create subscription
  </button>
</form>
