<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Lift Totals

    <a data-toggle="collapse" href="#profile_lift_totals_new_form">
      Add lift total
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @profile.lift_totals.each do |lift_total| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/lift_totals/<%= lift_total.id %>">
          <%= lift_total.profile_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_lift_total_from_profile/<%= lift_total.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="profile_lift_totals_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
