<!-- Validation failure messages -->
<% if @profile.errors.any? %>
  <% @profile.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit profile #<%= @profile.id %>
</h1>

<hr>

<!-- Form profile start -->
<form action="/update_profile/<%= @profile.id %>" method="post">
<!-- Form profile end -->

  <!-- Label and input for user_id start -->
  <!-- Label and input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update profile
  </button>
</form>

<hr>

<a href="/profiles">
  Go back
</a>
